
.Application {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 margin: auto;
  width: 50%;
  border: 3px;
  padding: 10px;
}

.Application h2 {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 60%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 1px solid black; /* This creates the border. Replace black with whatever color you want. */
}


.Application .quote 
{
    text-transform: uppercase;
   background-image: linear-gradient(
     -225deg,
     #231557 0%,
     #44107a 29%,
     #ff1361 67%,
     #fff800 100%
   );
   background-size: auto auto;
   background-clip: border-box;
   color: #fff;
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 2s linear infinite;
   display: inline-block;
       font-size: 20px;
 }
 
 @keyframes textclip {
   to {
     background-position: 200% center;
   }
 }
  body  {
    font:  "Lucida Console";
}

html body  {
    background-color: gray;
    font:  "Lucida Console";
    font-family: "Amarante", Arial, Helvetica, sans-serif;
}

.Application button {
    color: #a9128d;
    border:none;
    border-radius:10px;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}